layout()
    div(class="container w-full")
        div(class="mb-4")
            h1(class="text-xl font-bold") Ventiler

        div(class="bg-white rounded-lg")
            div(v-if="isPending")
                span()
                    font-awesome-icon(icon="spinner" spin)
                span(class="ml-1 text-sm") Laddar


            table(class="table table-auto w-full")
                tbody()
                    tr(v-for="(valve, index) in valves")
                        td(class="border-b border-gray-200 py-2") 
                            router-link(:to="{name:'valvesEdit', params: {id: valve}}") Ventil {{ valve }}
                        td(class="border-b border-gray-200 text-right py-2")
                            router-link(:to="{name:'valvesEdit', params: {id: valve}}") Redigera