layout()
    div(class="container w-full")
        div(class="mb-4")
            h1(class="text-xl font-bold") Inställningar
            
            div(class="mt-4")
                h3(class="text-md font-bold") API-url
                input-text(v-model="apiPath" @input="onApiUrlChange" placeholder="dripdrop.local")

            div(class="mt-4")
                h3(class="text-md font-bold") Tid
                div(class="flex")
                    div(class="flex-1")
                        p {{ systemTime | dateTime }}
                    div(class="flex-1 text-right")
                        button(class="bg-white shadow-md py-1 px-2 text-xs rounded-lg" @click="onSetTime") Uppdatera tid

            div(class="mt-4")
                h3(class="text-md font-bold") Scheman
                div(class="flex")
                    div(class="flex-1")
                        p Radera alla scheman
                    div(class="flex-1 text-right")
                        button(class="bg-white shadow-md py-1 px-2 text-xs rounded-lg" @click="onClearAllSchedules") Radera