div(class="w-full pb-16 pt-8")
    div(class="w-full flex fixed top-0")
        div(class="bg-black text-white w-full h-8 flex justify-center")
            div(class="h-8 w-8 mt-1 flex items-center justify-center bg-black rounded-full")
                drop-icon(class="text-white h-6")
    
    div(class="w-full")            
        slot()

    div(class="w-full fixed bottom-0 bg-gray-300")
        div(class="flex items-center")
            main-menu()
        