div(class="relative inline-block align-middle cursor-pointer select-none bg-transparent" @click="toggle")
    div(class="w-12 h-6 bg-gray-600 rounded-full shadow-inner" :class="{'transform transition-colors bg-green-500': value}")
    div(class="transition-all duration-300 ease-in-out absolute top-0 left-0 w-6 h-6 bg-white border-2 border-gray-600 rounded-full" :class="{'transform translate-x-full border-green-500': value}")