div()
    select(class="w-full border-2 border-gray-300 rounded p-2" @change="onChange")
        option(v-if="placeholder" value="") {{ placeholder }}
        option(v-for="(option, index) in options" :value="option.value") {{ option.title}}